@charset "UTF-8";  /* Set the encoding of file to UTF-8 */

/* 
This is a working develeopment file for human readability.
Use the CSS optimizer to reduce file size for published websites or apps.

-++ LTS Flex CSS Theme websites and HTML apps.  +++-
--- Original author	:: Nik K. linkedin.com/in/nik--k---/   (19.April.2020). 
--- Code adoption 	:: YourName    (date).
--- License         :: GNU General Public License v 3.0.
--- Latest version	:: github.com/Dorson/LTS-flex-css-style-theme-generator

Global color, size and style settings first, then we can overwrite them in
exceptional cases below. Computers use the last mentioned CSS setting. 
 */

/* If "dark" is set as preferred color in user app settings. */

@media screen and (prefers-color-scheme: dark) {

 html:not(.snow-white) {
  --color-html: #0e0b0b ;
  --color-body: #1a1010 ;
  --color-text: #d1d1d1 ;
  --color-link: #4fbcff ;
  --color-selected-text: #000 ;
  --color-selected-bg: #CF7 ;
  }
}

/* Dark mode color variables, if "dark" is set as HTML tag's CSS class */

html.dark { 

--color-html: #0e0b0b ;
--color-body: #1a1010 ;
--color-text: #d1d1d1 ;
--color-link: #4fbcff ;
--color-selected-text: #000 ;
--color-selected-bg: #CF7 ;

}

/* Deep Purple color variables, if "purple" is set as HTML tag's CSS class */ 

html.purple { 

--color-html: #0a0614 ;
--color-body: #120b24 ;
--color-text: #d1d1d1 ;
--color-selected-text: #000 ;
--color-selected-bg: #CF7 ;
--color-link: #4fbcff ;

}

/* Deep Green color variables, if "green" is set as HTML tag's CSS class */

html.green { 

--color-html: #04160a ;
--color-body: #072813 ;
--color-text: #d1d1d1 ;
--color-selected-text: #000 ;
--color-selected-bg: #CF7 ;
--color-link: #4fbcff ;

}

/* Cobalt Blue color variables, if "blue" is set as HTML tag's CSS class */

html.blue { 

--color-html: #000d1a ;
--color-body: #001830 ;
--color-text: #d1d1d1 ;
--color-selected-text: #000 ;
--color-selected-bg: #CF7 ;
--color-link: #4fbcff ;

}
}

