.card .cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-image: url("{{site.baseurl}}/img/1.jpg");*/
    transition: 0.3s all ease;
    overflow: hidden;
}

.card .cover:hover {
    transform: scale(0.96);
}
strong
{
    font-weight: bold;
}
