<footer class="page-footer {{ site.css }} darken-2">
    <div class="container">
        <div class="row">
            <div class="col l3 m6 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/happyeggchen" target="_blank"><i
                                class="mdi-social-person-add"></i>Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 tsingkwai
            <a class="grey-text text-lighten-4 right" href="https://materializecss.com/" target="_blank">Build with ❤️
                by tsingkwai using materialize css</a>
        </div>
    </div>
</footer>